@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap'); /*font-family: 'DM Serif Display', serif;  HEADINGS*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap'); /*font-family: 'Karla', sans-serif;  BODY*/
:root {
    /*primary*/
--Dark-Violet: hsl(256, 26%, 20%);
--Grayish-Blue: hsl(216, 30%, 68%);
/*neutral*/
--Very-Dark-Violet: hsl(270, 9%, 17%);
--Dark-Grayish-Violet: hsl(273, 4%, 51%);
--Very-Light-Gray: hsl(0, 17%, 85%);
}
* {
    margin: 0;
}
body {
    max-width: 1440px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}
/*HEADER SECTION*/
header {
    font-family: 'DM Serif Display', serif !important;
    border: none springgreen;
    position: relative;
    width: 100%;
}
nav {
    display: flex;
    border: none tomato;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    position: fixed;
    background-color: white;
    z-index: 4;
}
header img {
    display: block;
}
nav img {
    height: 80%;
    padding-left: 10%;
}
nav ul {
    display: flex;
    color: var(--Grayish-Blue);
    align-items: center;
    padding-right: 12.7%;
}
nav li {
    list-style-type: none;
    padding: 0 1em 0 1em;
}
nav li.bordered {
    border: solid var(--Dark-Grayish-Violet);
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    color: var(--Dark-Grayish-Violet);
}
header section {
    background-color: var(--Very-Dark-Violet);
    color: var(--Very-Light-Gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: -1;
    padding: 0 8em;
    align-items: center;
    font-size: 1em;
    top: 5em;
    width: 80.5%;
}
header section article {
    padding: 1em;
    position: relative;
    font-size: 100%;
}
header hr {
    width: 7em;
}
header section h1 {
    color: white;
    font-size: 3.5em;
    font-weight: lighter;
    width: 80%;
}
header section button {
    border: solid;
    background-color: transparent;
    color: var(--Very-Light-Gray);
    padding: 0.5em 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2.5em 0 0 0;
}
header section p {
    padding: 1em 0 0 0;
    font-size: 1em;
}
header section figure {
    position: relative;
    top: 20%;
    width: 100%;
}
header section figure img {
    width: 100%;
    height: auto;
}
.right-pattern {
    background-image: url('../images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: right top;
    right: 0;
    top: 0;
    z-index: 3;
    border: none;
}
.left-pattern {
    background-image: url('../images/bg-pattern-intro-left-desktop.svg');
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: left bottom;
    left: 0;
    bottom: -57%;
    z-index: 3;
    border: none;
}

/*hamburger part*/
.show{
    display: block;
}
#logo {
    top: 0;
}
#containerBurger {
   display: inline-block;
   cursor: pointer;
   position: relative;
 }
 
 .bar1, .bar2, .bar3 {
   width: 35px;
   height: 5px;
   background-color: white;
   margin: 6px 0;
   transition: 0.4s;
 }
 
 .change .bar1 {
   -webkit-transform: rotate(-45deg) translate(-9px, 6px);
   transform: rotate(-45deg) translate(-9px, 6px);
 }
 
 .change .bar2 {opacity: 0;}
 
 .change .bar3 {
   -webkit-transform: rotate(45deg) translate(-8px, -8px);
   transform: rotate(45deg) translate(-8px, -8px);
 }
@media screen and (max-width: 700px) {
    nav {
        display: block;
        padding: 0;
    }
    nav img {
        padding: 2em 1em;
        float: left;
        width: 30%;
        border: none;
    }
    nav #containerBurger {
        float: right;
        border: none;
        padding: 1.5em 1em;
    }
    #itemlist {
        display: none;
        padding: 1em 0 9em 0;
        clear: left;
        width: 100%;
        flex-direction: column;
        background-color: var(--Very-Dark-Violet);
        font-size: 1.5em;
        text-transform: uppercase;
        color: white;
        background-image: url('../images/bg-pattern-mobile-nav.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
    }
    nav li {
        line-height: 4em;
        padding: 0;
    }
    nav ul li.bordered {
        color: white;
        border: solid white 0.1em;
        padding: 0;
        width: 75%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    header section figure img {
        content: url('../images/image-intro-mobile.jpg');
    }
    header section {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 20%;
    }
    header section h1 {
        width: 100%;
    }
    header figure {
        width: 100%;
    }
    header section article {
        padding: 4em 2em 1em 2em;
    }
    header section article p {
    }
    header section article button {
        font-size: 1.2em;
        font-weight: bold;
    }
    hr {
        display: none;
    }
    .right-pattern {
        background-image: url('../images/bg-pattern-intro-right-mobile.svg');
        background-position: right top;
        top: 85%;
    }
    .left-pattern {
        background-image: none;
    }
    .bar1, .bar2, .bar3 {
        background-color: black;
      }
}

/*MAIN SECTION*/
main {
    position: relative;
    padding: 20em 0 2em 0;
    font-family: 'Karla', sans-serif;
}
main hr {
    width:10em;
    position: relative;
    left: 30px;
}
main .main-section1 article {
    width: 80%;
    margin: auto;
}
.main-section1 h2 {
    padding: 1.5em 0.5em;
}
main .list-main-section1 {
    list-style-type: none;
    display: grid;
    grid-template-areas: 'item1 item2 item3';
    grid-gap: 2em;
}
.we-are-different {
    font-size: 4em;
}